<!DOCTYPE html>
<html lang="en">
<head>
 <% include frame/head %> 
</head>
<body>
<% include frame/nav_index %>
<div class="container-fluid bg-3 text-center">    
  <!-- <h3><%= page %></h3><br> -->
  <div class="row">
    <div class="col-sm-6">
      <h2>Welcome to YouNotes!</h2>
      
    </div>
    <div class="col-sm-6"> 
      <p>If you are a new user, sign up <a href="/signup">here</a>! <br> </p>
    </div>
  </div>
</div>
</body>
<% include frame/script %>
</html>

