<!DOCTYPE html>
<html lang="en">
<head>
    <title> Logout </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <% include frame/head %> 
</head>
<body>
    <% include frame/nav_index %>
    <div class="container-fluid bg-3 text-center">  
        <br></br>
        <div class="col-sm-6">
            <h2>LOGOUT SUCCESSFULLY!</h2>
          </div>
    </div>
</body>
</html>