<!DOCTYPE html>
<html>
<head>
  <% include frame/head %> 
  <title>Notes list</title>
</head>
<body>
  <div class="container">
    <% include frame/nav %> 
    <br>
    <h2 class="text-center">
    Video Notes
    </h2>
    <br>
    <br>
    <br>
      <h5 class="text-center">No notes are availaible for this video. </h5>
  </div>
</body>
</html>